#nav-main nav {
    position: relative;
}

input#main-menu-hamburger {
    display: none;
}

input#main-menu-hamburger .main-menu-hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    input#main-menu-hamburger~.main-menu {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        left: 0;
        top: calc(100% + 20px);
        right: 0;
        background-color: #eaeaeb;
        transition: all 0.3s ease;
    }

    input#main-menu-hamburger~.main-menu .menu {
        display: flex;
        flex-direction: column;
    }

    input#main-menu-hamburger:checked~.main-menu {
        visibility: visible;
        opacity: 1;
        top: calc(100% + 8px);
    }

    input#main-menu-hamburger:checked+.main-menu-hamburger::before,
    input#main-menu-hamburger:checked+.main-menu-hamburger::after {
        top: 50%;
    }

    input#main-menu-hamburger:checked+.main-menu-hamburger::before {
        transform: rotate(45deg);
    }

    input#main-menu-hamburger:checked+.main-menu-hamburger::after {
        transform: rotate(-45deg);
    }

    input#main-menu-hamburger:checked+.main-menu-hamburger .hamburger-row {
        top: 100%;
        transform: translateY(100%);
    }

    input#main-menu-hamburger+.main-menu-hamburger {
        display: block;
        width: 32px;
        aspect-ratio: 1;
        overflow: hidden;
        position: relative;
    }

    input#main-menu-hamburger+.main-menu-hamburger::before,
    input#main-menu-hamburger+.main-menu-hamburger::after,
    input#main-menu-hamburger+.main-menu-hamburger .hamburger-row {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        background-color: black;
        transition: all 0.3s ease;
    }

    input#main-menu-hamburger+.main-menu-hamburger::before {
        top: 0;
    }

    input#main-menu-hamburger+.main-menu-hamburger::after {
        bottom: 0;
    }

    input#main-menu-hamburger+.main-menu-hamburger .hamburger-row {
        top: 50%;
        transform: translateY(-50%);
    }
}

.main-menu .menu-item.expanded {
    position: relative;
}

.main-menu .menu-item .drop-menu {
    position: absolute !important;
    line-height: 45px;
    top: calc(100% + 20px) !important;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.3);
    margin-top: 8px;
    transition: all 0.3s ease;
}

.main-menu .menu-item .drop-menu .submenu-item {
    float: none;
    border: none;
    width: 100%;
}

.main-menu .menu-item .drop-menu .submenu-item a {
    display: block;
}

.main-menu .menu-item .drop-menu::before {
    content: "";
    position: absolute;
    top: -14px;
    bottom: 100%;
    left: 0;
    right: 0;
    background: transparent;
}

.main-menu .menu-item:hover .drop-menu {
    top: 100% !important;
    opacity: 1;
    visibility: visible;
    background-color: #eaeaeb;
}