#nav-main .main-menu li .drop-menu {
    position: absolute !important;
    line-height: 45px;
    top: calc(100% + 20px) !important;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.3);
    margin-top: 8px;
    transition: all 0.3s ease;
}

#nav-main .main-menu li .drop-menu li {
    float: none;
    border: none;
    width: 100%;
}

#nav-main .main-menu li .drop-menu li a {
    display: block;
}

#nav-main .main-menu li .drop-menu::before {
    content: "";
    position: absolute;
    top: -14px;
    bottom: 100%;
    left: 0;
    right: 0;
    background: transparent;
}

#nav-main .main-menu li:hover .drop-menu {
    top: 100% !important;
    opacity: 1;
    visibility: visible;
    background-color: #eaeaeb;
}